html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-color: #373e40;
  font-family: "Courier New", monospace;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #272d2f;
  height: 60px;
}

h1 {
  color: #fff;
  font-size: 52px;
  text-align: center;
  margin: 80px 0;
  padding: 0 30px;
}

h2 {
  color: #fff;
}

h3 {
  font-size: 2em;
}

div {
  color: #fff;
}

p {
  color: #fff;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 15px;
}

.tooltip {
  position: relative;
  padding: 16px;
}

.tooltip i {
  font-size: 22px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container {
  position: relative;
  top: 60px;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.icon-global {
  color: #fff;
  font-size: 28px;
}

.contact-icon {
  max-width: 130px;
  height: auto;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 120px;
  padding: 60px 0;
  margin-top: 70px;
  justify-content: center;
  background-color: #2a3639;
}

.profile-img {
  width: 300px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  animation: fade ease 5s;
  animation-iteration-count: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-txt {
  flex: 1;
  margin-left: 80px;
  font-size: 25px;
  color: #f1feed;
  margin-top: 100px;
}

.profile-title {
  font-family: "Courier New", monospace;
  white-space: pre-line;
  font-size: 50px;
}

.nalla {
  width: 250px;
  max-height: 350px;
  border-radius: 30%;
  object-fit: cover;
  margin: 50px;
}

.nalla-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 6px;
  margin-top: 146px;
  justify-content: center;
  font-size: 25px;
  background-color: #2a3639;
  width: 100%;
}

.about-nella {
  margin-top: 20px;
  line-height: 1.5;
}

.cvimg {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

.video-container {
  max-width: 200px;
  width: 100%;
  margin: 30px;
}

video {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}

.project-txt {
  font-size: larger;
  margin: 50px;
  margin-top: 100px;
  margin-left: 135px;
  /* text-shadow: #18414b; */
}

.project-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* border: #18414b; */
}

.card-project {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 320px;
  margin: 20px;
  font-variant-position: sub;
  font-size: small;
  /* border: #18414b;
  box-shadow: #18414b; */
}

.card-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 120px;
}

.Resume {
  font-size: 20px;
  background-color: #7f7f7f;
  padding: 15px;
  color: #fff;
  margin-top: 60px;
}

.contact-me {
  color: #fff;
  margin-left: 500px;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: rgb(74, 88, 103);
  }

  header {
    position: sticky;
    top: 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    size: 1px;
  }

  h1 {
    font-size: 40px;
    position: relative;
  }

  .profile-container {
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 40px 0;
    margin-top: 30px;
    justify-content: center;
    background-color: #2a3639;
    padding-right: 200px;
  }

  .profile-title {
    font-family: "Courier New", monospace;
    white-space: pre-line;
    font-size: 20px;
  }

  .profile-img {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 200px;
  }

  .icon-global {
    font-size: 20px;
  }

  .profile-txt {
    flex: 1px;
    margin-left: 20px;

    font-size: 10px;
    color: #ffffff;
  }

  .nalla {
    width: 150px;
    max-height: 150px;
    border-radius: 30%;
    object-fit: cover;
    margin: 10px;
  }

  video {
    width: 100px;
    border-radius: 20%;
    margin-top: 30px;
  }

  .nalla-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin-top: 146px;
    justify-content: center;
    font-size: 10px;
    background-color: #2a3639;
    width: 100%;
  }

  .project-txt {
    font-size: 10px;
    margin: 30px;
  }

  .project-txt h2 {
    font-size: 15px;
    margin: 0;
  }

  .project-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: #18414b;
  }

  .card-project {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100px;
    margin: 90px;
    font-variant-position: sub;
    font-size: small;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    justify-content: center;
    margin: 50px;
  }

  .Resume {
    font-size: 10px;
    background-color: #7f7f7f;
    padding: 10px;
    color: #fff;
    margin-top: 40px;
  }

  .contact-me {
    color: #fff;
    margin-left: 130px;
    font-size: 15px;
    margin-top: 18px;
  }

  .cvimg {
    width: 30px;
    height: auto;
    margin-left: 10px;
  }

  footer {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    margin-top: auto;
    padding-top: 30px;
  }
}
