html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-color: #373e40;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #272d2f;
  height: 60px;
}

h1 {
  color: #fff;
  font-size: 80px;
  text-align: center;
  margin-top: 70px;
}

h2 {
  color: #fff;
}

h3 {
  font-size: 2em;
}

div {
  color: #fff;
}

p {
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  top: 100%;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container {
  display: flex;
  align-items: center;
}

.nav-icon {
  max-width: 100%;
  height: auto;
  margin-left: 100px;
}

.icon-global {
  color: #fff;
  font-size: 50px;
}

.contact-icon {
  max-width: 130px;
  height: auto;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 120px;
  padding: 60px 0;
  margin-top: 70px;
  justify-content: center;
  background-color: #2a3639;
}

.profileimg {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.profile-txt {
  flex: 1;
  margin-left: 80px;
  font-size: 25px;
  color: #f1feed;
}

footer {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin-top: auto;
}

.profile-title {
  font-family: "Courier New", monospace;
  white-space: pre-line;
  font-size: 50px;
}

.nalla {
  width: 250px;
  max-height: 350px;
  border-radius: 30%;
  object-fit: cover;
  margin: 50px;
}

.nalla-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 6px;
  margin-top: 146px;
  justify-content: center;
  font-size: 25px;
  background-color: #2a3639;
  width: 100%;
}

.about-nella {
  margin-top: 20px;
  line-height: 1.5;
}

.cvimg {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

.video-container {
  max-width: 200px;
  width: 100%;
  margin: 30px;
}

video {
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}

.project-txt {
  font-size: larger;
  margin: 50px;
}

.project-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: #18414b;
}

.card-project {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 320px;
  margin: 20px;
  font-variant-position: sub;
  font-size: small;
}

.card-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.first-Resume {
  margin: 30px;
  font-size: 20px;
  background-color: #7f7f7f;
}

.bar-Manager {
  margin: 30px;
  font-size: 20px;
  background-color: #7f7f7f;
}

.Project-Manager {
  margin: 30px;
  font-size: 20px;
  background-color: #7f7f7f;
}

.Military-Service {
  margin: 30px;
  font-size: 20px;
  background-color: #7f7f7f;
}

.contact-me {
  color: #fff;
  margin-left: 200px;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: rgb(126, 161, 200);
  }

  header {
    position: sticky;
    top: 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    size: 1px;
  }

  .nav-icon {
    max-width: 100%;
    height: auto;
    margin-left: 80px;
    background-color: #272d2f;
  }

  h1 {
    font-size: 40px;
    position: relative;
  }

  .profile-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 200px;
    margin-top: 146px;
    justify-content: center;
  }

  .profile-title {
    font-family: "Courier New", monospace;
    white-space: pre-line;
    font-size: 20px;
  }

  .profileimg {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 200px;
  }

  .icon-global {
    font-size: 20px;
  }

  .profile-txt {
    flex: 1;
    margin-left: 80px;
    font-size: 10px;
    color: #ffffff;
  }

  .nalla {
    width: 80px;
    max-height: 100px;
    border-radius: 30%;
    object-fit: cover;
    margin: 50px;
  }

  video {
    width: 70px;
    border-radius: 20%;
    margin-top: 20px;
  }

  .nalla-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px;
    margin-top: 146px;
    justify-content: center;
    font-size: 10px;
    background-color: #2a3639;
    width: 100%;
  }

  .project-txt {
    font-size: 15px;
    margin: 0;
  }

  .project-txt h2 {
    font-size: 20px;
    margin: 0;
  }

  .project-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: #18414b;
  }

  .card-project {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100px;
    margin: 50px;
    font-variant-position: sub;
    font-size: small;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    justify-content: center;
    margin: 50px;
  }
}
