body {
  margin: 0;
}
h1 {
  text-align: center;
}
header {
  background-color: rgb(212, 240, 210);
  padding: 30px;
}
ul {
  text-align: center;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 100px;
}
button {
  background-color: bisque;
}

#section-1 {
  background-color: rgb(216, 247, 247);
}
#section-2 {
  background-color: rgb(245, 221, 161);
}
#section-3 {
  background-color: rgb(218, 183, 171);
}
#section-4 {
  background-color: rgb(239, 207, 164);
}
#section-5 {
  background-color: bisque;
}
#id-55 {
  background-color: bisque;
  margin: 0;
  text-align: center;
}

.contaniner {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.f-img {
  width: 300px;
  size: 300px;
  margin: 20px;
}

.flex box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 320px;
  margin: 10px;
  font-variant-position: sub;
  font-size: small;
}

.c-img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.background-img {
  background-image: url(./images/footer-background.webp);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

ul {
  margin: 0;
}
